* {
    font-family: "Comic Relief", system-ui;
}

div {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #D85D00;
    gap: 0;
    overflow: auto;
}
.radio-img {
    border: 5px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

input[type="radio"]:checked + img.radio-img {
    border-color: #00aaff;
}

label {
    display: inline-block;
    margin: 10px;
}

input[type="radio"] {
    display: none;
}
.tutorial img{
    border-radius:20px
}
.tutorial {
    text-align: center;
    margin: 0 auto;
    color: white;
    -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
    text-decoration: none;
}
    .tutorial h2 {
        text-decoration: none;
    }
.hero {
    text-align: center;
    margin: 0;
    padding: 0;
}
.hero h1 {
    color: white;
    -webkit-text-stroke: 4px black;
    paint-order: stroke fill;
    font-size: 44px;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased
}
.hero h2 {
    color: white;
    -webkit-text-stroke: 4px black;
    font-size: 32px;
    paint-order: stroke fill;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}
.navi {
    /*    padding: 10px;*/
    text-align: center;
    background-color: lightgreen;
    align-content: center;
}

.navi img {
    float:left;
}

.links {
    margin-right:100px;
    padding:0;

}

.list ul {
    -webkit-text-stroke: 4px black;
    paint-order: stroke fill;
    color: white;
    margin-left: 40px;
    font-size:30px
}
.list h1 {
    -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
    color: white;
    margin-left: 40px;

}
.list {
    background-color: #FF9F3D;
    padding: 0;
}
nav a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    margin: 0 10px; 
}
.foot a{
    color: grey;
    text-decoration: underline;
}
.foot a:hover{
    color:darkgray;
}
.foot {
    align-content: center;
    text-align: center;
    background-color: lightgreen;
    margin-top: auto;
}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    margin-left: 100px;
}
.button2 {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    border-radius: 200px;
    margin-right: 50px;
    float: right;
}
.tos{
    margin-right:50px;
    margin-left:50px;
    color:antiquewhite;
}
.foreveryone img{
    border-radius:30px;
    float: right;
    margin-right:50px;
}
.foreveryone h1,
.foreveryone h3 {
    -webkit-text-stroke: 4px black;
    paint-order: stroke fill;
    color: white;
    margin-left: 100px;
}

.foreveryone {
    background-color: #F08000;
    margin-bottom: 0;
    padding: 0;
}

.bod {
    margin: 0;
    padding: 0;
/*    display: flex;*/
    gap: 0;
}

.menahem {
    background-color: #FFB875;
    text-align: center;
    height: 500px;
}

    .menahem p {
        text-align: center;
        float: right;
        -webkit-text-stroke: 3px black;
        paint-order: stroke fill;
        color: white;
        font-size: 24px;
        margin-right: 190px
    }

    .menahem h1 {
        text-align: center;
        float: right;
        -webkit-text-stroke: 4px black;
        paint-order: stroke fill;
        color: white;
        margin-right: 350px
    }

.menahem img {
    float:left;
}


.stand {
    padding: 20px;
    background-color: #F08000;
}
.costumers {
    padding: 20px;
}

.costumers img {
    border-radius:30px;
}
.stand img{
    border-radius: 30px;
}
td img{
    align-content: center;
}

.costumers td img,
.stand td img{
    margin: 0 5px;
}
.costumers td,
.stand td{
    font-size:20px
}
.costumers h1,
.stand h1 {
    align-content: center;
    text-align: center;
    color: white;
    -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
}
table {
    margin: auto;
/*    margin-right:25px;*/
    text-align: center;
    color: white;
    -webkit-text-stroke: 3px black;
    paint-order: stroke fill;
}
input {
    padding: 12px;
    font-size: 12px;
    border-radius: 6px
}

input[type="radio"], input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 4px solid black;
}
.learnn label {
    font-size: 20px !important;
}

.gender font{
    color: white; 
}
.gender label {
    font-size: 28px !important;
    -webkit-text-stroke: 5px black !important; 
    margin-bottom:-20px;
    
}
.reg {
    text-align: center;
}

.reg label {
    font-size: 30px;
}

.reg select {
    padding: 12px;
    font-size: 12px;
    border-radius: 6px
}

input[type=reset], input[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.reg button:hover {
    background-color: darkgreen;
}

.reg label {
    color: white;
    -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
    font-weight: bold;
    position:relative;
    top:5px;
}
.firstname {
    background-color: #F08000;
}
.MenageSubmit {
    background-color: #D85D00 !important;
}


.firstname label {
    x
}
.password{
    padding-bottom:10px
}
.surname {
    background-color: #F08000;
    padding-bottom: 40px;
}

.gender{
    background-color: #FF9F3D;
    margin-top:-25px;
}

.age {
    background-color: #FF9F3D;
    
}

.learnn, .learnnLabel, .flavor, .flavorLabel, .submit    {
/*    padding: 20px;*/
    background-color: #FFB875
}

.tos, .about {
    color: white;
    -webkit-text-stroke: 1px black;
    paint-order: stroke fill;
}

.logout {
    background-color: red;
    position: absolute;
    top: 10px;
    right: 30px;
    border-radius: 50px;
    padding: 30px 32px;
}
.login {
/*    margin-left:375px;*/
    font-size:50px;
    text-align:center;
    
}
.submit{
    padding-bottom:20px
}
.login input {
    padding: 24px;
    font-size: 24px;
    border-radius: 12px
}

.gender input[type=radio] {
    display: inline-block;
}

.reg h1{
    
}