* {
    font-family: Arial;
}

div {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #D85D00;
    gap: 0;
}
.tutorial {
    text-align: center; 
    margin: 0 auto; 
}
.hero {
    text-align: center;
    margin: 0;
    padding: 0;
}
.hero h1 {
    color: white;
    -webkit-text-stroke: 8px black;
    font-size: 44px;
    paint-order: stroke fill;
    letter-spacing: 3px;
    -webkit-font-smoothing: antialiased
}
.hero h2 {
    color: white;
    -webkit-text-stroke: 6px black;
    font-size: 32px;
    paint-order: stroke fill;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}
.navi {
/*    padding: 10px;*/
    text-align: center;
    background-color: lightgreen;
    align-content: center;
}

.navi img {
    float:left;
}

.links {
    margin-right:100px;
    padding:0;

}

.list ul {
    -webkit-text-stroke: 4px black;
    paint-order: stroke fill;
    color: white;
    margin-left: 40px;
    font-size:30px
}
.list h1 {
    -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
    color: white;
    margin-left: 40px;

}
.list {
    background-color: #FF9F3D;
    padding: 0;
}
nav a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    margin: 0 10px; 
}
.foot a{
    color: grey;
    text-decoration: underline;
}
.foot a:hover{
    color:darkgray;
}
.foot {
    align-content: center;
    text-align: center;
    background-color: lightgreen;
    margin-top: auto;
}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    margin-left: 100px;
}
.button2 {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    border-radius: 200px;
    margin-right: 50px;
    float: right;
}
.tos{
    margin-right:50px;
    margin-left:50px;
    color:antiquewhite;
}
.foreveryone img{
    border-radius:30px;
    float: right;
    margin-right:50px;
}
.foreveryone h1,
.foreveryone h3 {
    -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
    color: white;
    margin-left: 100px;
}

.foreveryone {
    background-color: #F08000;
    margin-bottom: 0;
    padding: 0;
}

.bod {
    margin: 0;
    padding: 0;
/*    display: flex;*/
    gap: 0;
}

.menahem {
    background-color: #FFB875;
    text-align: center;
    height: 500px;
}

.menahem p {
    text-align: center;
    float: right;
    -webkit-text-stroke: 8px black;
    paint-order: stroke fill;
    color: white;
    font-size: 24px;
}

.menahem h1 {
    text-align: center;
    float: right;
    -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
    color: white;
    margin-right:150px
}

.menahem img {
    float:left;
}


.stand {
    background-color: #F08000;
}

td img{
    align-content: center;
}
.costumers td img,
.stand td img{
    margin: 0 30px;
}
.costumers td,
.stand td{
    font-size:20px
}
.costumers h1,
.stand h1{
    align-content:center;
    text-align:center;
}
table {
    margin: auto;
    text-align: center;
}